<!-- show page for BOOKMARK -->

<div class="row">

    <div class="span4">
    <%= render 'layouts/sidebar' %>
    </div>

    <div class="span8">
         <h1>Bookmark <%= @show_bookmark.id %></h1>
         <div class="bookmarks">
         <%= render partial: 'shared/feed_item', locals: {feed_item: @show_bookmark} %>
         </div>
    </div>

</div>