<% if signed_in? %>
    <div class="row">
        <aside class="span4">
            <%= render 'layouts/sidebar' %>
        </aside>
        <div class="span8">
            <h3>Bookmarks</h3>
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>
    <div class="center hero-unit">
        <h1>Welcome to Bookmarker</h1>
        <h2>Bookmarker is a web application for storing all your bookmarks</h2>
        <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
    </div>

<% end %>