<!-- SHOW page for USER profile --> 
<div class="row">

    <div class="span4">
        <%= render 'layouts/sidebar' %>
    </div>

    <div class="span8">
        <h1>Profile for <%= current_user.name %></h1>
        <div class='btn btn-primary'>Follow this user's bookmarks</div>
        <!-- Placeholder for publicly visible profile page -->
    </div>


</div>