@import "bootstrap";

/* mixins */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* variables */
$grayMediumLight: #eaeaea;

/* some boilerplate css */

html {
    overflow-y: scroll;
}

form {
  margin-bottom: 8px;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}
.center {
    text-align: center;
}
.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
    line-height: 1;
}

h1 { 
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    color: #999;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* hero - unit */
.hero-btn-left{
    width: 15%;
    margin-right: 40px;
}
.hero-btn-right{
    width: 15%;
    margin-left: 40px;
}

/*footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: #999;
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #333;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    @include box_sizing;
}


#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

.bookmark_form {
    padding-top: 15px;
}
/* bookmarks */
.members_sidebar {
    list-style: none;
    margin: 10px 0 0 0;

    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .name {
            display: block;
            font-size:1.4em;   
            color: #000;
            font-weight: bold;
            margin-bottom: 4px;
        }
    .skills {
        color: #c0c0c0;    
    }
    .photo {
        float: left;
        width: 50px;
        height: 50px;
        background: #000;
        margin-right: 10px;
    }
}

.site_host {
    display: block;
    font-size:2em;   
    font-weight: bold;
    padding-bottom: 8px;
    padding-top: 8px;
}

/* debug */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

#ideaList {
  height: 800px;
}

.icon-remove {
  float:right;
}

/* canvas */
.canvas ul,li{
  list-style:none;
}
.canvas ul{
  overflow:hidden;
  padding:3em;
}
.canvas ul li {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:7em;
  width:13em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.canvas ul li{
  margin:1em;
  float:left;
}

.canvas ul li p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-weight:bold;
  padding-top: 7px;
  font-size:180%;
}
.canvas ul li {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
  background:#F6F792;
}
.canvas ul li:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
.canvas ul li:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;

}


.canvas ol{text-align:center;}
.canvas ol li{display:inline;padding-right:1em;}
.canvas ol li a{color:#fff;}