@import "bootstrap";

/* mixins */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* variables */
$grayMediumLight: #eaeaea;

/* some boilerplate css */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}


/* header */

#logo {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size:1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}


/*footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: #999;
    a {
        color: #555;
        &:hover {
            color: #222;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #333;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box_sizing;
}


#error_explanation {
    color: #f00;
    ul {
        list-style: none;
        margin: 0 0 18px 0;
    }
}

.field_with_errors {
    @extend .control-group;
    @extend .error;
}

.bookmark_form {
    padding-top: 15px;
}
/* bookmarks */
.bookmarks {
    list-style: none;
    margin: 10px 0 0 0;

    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .page_title {
        a {
            display: block;
            font-size:1.4em;   
            color: #000;
            font-weight: bold;
            margin-bottom: 4px;
            }
        }
    .page_metadata {
        color: #c0c0c0;    
    }
    .tagline {
        color: rgb(62, 109, 142);
        margin: 2px 2px 2px 0px;
        text-decoration: none;
        font-size: 90%;
        line-height: 1.7;
        white-space: nowrap;
        .tags {
        padding: 3px 4px;
        background-color: rgb(224, 234, 241);
        border-bottom: 1px solid rgb(62, 109, 142);
        border-right: 1px solid rgb(127, 159, 182);
        }
    }
    .urls {
        font-size: 0.9em;
    }
    .timestamp {
    color: #c0c0c0;
}
}

/* debug */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}