<!-- SITES show page -->
<!-- show list of bookmarks belonging to a particular site that have been added by current user -->

<div class="row">

    <div class="span4">
    <%= render 'layouts/sidebar' %>
    </div>

    <div class="span8">
        <h1>Your Bookmarks for <%= @site[0].site_host %> </h1>
        <%= link_to "Back to all bookmarks", sites_path %>
        <ul class="bookmarks">
        <%= render partial: 'shared/feed' %>
        </ul>
    </div>

</div>